<header class="flex items-center justify-between p-4 bg-floor-2">
  <h2 class="text-slate-200">to-do list app </h2>
  <nav class="nav-links">
    <span class="hover:text-text-primary cursor-pointer">my todos</span>
    <span class="hover:text-text-primary cursor-pointer">log out</span>
  </nav>
</header>
