<% if todos.empty? %>
  <div class="flex justify-center my-8 w-full">
    <span>Nothing to show 👋. Try to add a new todo</span>
  </div>
<% else %>
  <div class="todo-list">
    <span><%= status %></span>
    <% todos.each do |todo| %>
      <%= render partial: 'todos/item', locals: { todo: }%>
    <% end %>
  </div>
<% end %>
